# Игнорирование папки с временными копиями и логами
History/
Project Logs for*/

# Игнорирование файла с логами
debug.log
*.log

# Игнорирование скомпилированных библиотек
*.IntLib

# Игнорирование отчетов и логов AD
*.htm
*.html

Project Outputs*/
