# Игнорирование папки с временными копиями
History/

# Игнорирование файла с логами
debug.log
*.log

# Игнорирование скомпилированных библиотек
*.IntLib

# Игнорирование отчетов и логов AD
*.htm
*.html

Project Outputs*/
